<%- include("partials/head.ejs") %>
<div class="titleContainer">
  <h2 class="title">Consultar Producto</h2>
  <form id="getProduct-form">
    <label for="idProd" style="display: none;">Id producto</label>
    <input
      type="number"
      name="idProd"
      id="idProd"
      placeholder="Ingrese el id del producto"
      required
    />
    <input type="submit" value="Consultar" />
  </form>
</div>
<div id="getId-container">
  <ul id="getId-list">
    <p class="infoText">Ingrese el id del producto para consultar</p>
    <!-- Aquí se mostrarán los productos consultados -->
  </ul>
</div>
<script type="module">
  import { handleProductStatus } from "/js/productStatusHandler.js";

  let getProduct_form = document.getElementById("getProduct-form");
  let getId_lista = document.getElementById("getId-list");

  getProduct_form.addEventListener("submit", async (e) => {
    getId_lista.innerHTML = "<p>Cargando producto...</p>";
    e.preventDefault();
    let idProd = document.getElementById("idProd").value;
    let datos = await obtenerDatosProductosPorId(idProd);
    if (datos) mostrarProductos(datos);
  });

  async function obtenerDatosProductosPorId(id) {
    try {
      let respuesta = await fetch(
        `http://localhost:3000/api/products${id ? `/${id}` : ""}`
      );
      if (!respuesta.ok) {
        let message = "Error al obtener el producto";
        if (respuesta.status === 404) message = "No hay productos disponibles.";
        getId_lista.innerHTML = message;
        return;
      }
      let datos = await respuesta.json();
      return datos;
    } catch (error) {
      console.error("Error: ", error);
    }
  }

  function mostrarProductos(producto) {
    let htmlProductos = "";

    htmlProductos += `
    <li class="cardProductos">
      <div class="cardGetProductosImgContainer">
        <img src=${producto.image} alt=${producto.name} class="cardProductosImg">
      </div>
      <div class="cardProductosInfo">
        <p>
          Id: ${producto.id}
        </p>
        <h4>
          ${producto.name}
        </h4>
        <h6>
          $${producto.price}
        </h6>
        <p>Estado: <span class="${
          producto.is_active ? "active" : "inactive"
        }">${producto.is_active ? "Activo" : "Inactivo"}</span>
        </p>
        <div class="cardProductosButtons">
          <a href="/dashboard/edit-product/${producto.id}">
          <button>Editar</button>
        </a>
          ${
            producto.is_active
              ? `<button class="deleteBtn" data-id="${producto.id}">Eliminar</button>`
              : `<button class="activateBtn" data-id="${producto.id}">Activar</button>`
          }
        </div>
      </div>
    </li>
            `;
    getId_lista.innerHTML = htmlProductos;

    handleProductStatus();
  }
</script>
<%- include("partials/footer.ejs") %>
