/* Global */
body {
  width: 100%;
}

body > ul,
body > #listado-nav,
body > footer,
body > .titleContainer,
body > #getId-container,
body > #pageContainer, body > .detailContainer {
  grid-column: 1 / -1;
  width: 100%;
}

ul {
  margin: 0;
  width: 100%;
  padding: 0;
}

.favicon {
  width: 220px;
  opacity: 1;
}

img {
  opacity: 1 !important;
}

h1 {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

h5 {
  line-height: 1;
}

.titleContainer button,
.cardProductos button,
.ventaCardContainer button {
  margin: 0;
}

#getProduct-form input {
  margin: 0;
}

body > header {
  padding-inline: 0 !important;
  padding-bottom: 20px !important;
  padding-top: 16px !important;
}

/* Navbar */
.logoContainer {
  display: flex;
  align-items: end;
  text-decoration: none;
  gap: 8px;
}

#listadoNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  margin: 0;
}

#listadoNav li {
  list-style-type: none;
}

.linksContainer {
  display: flex;
  gap: 50px;
  padding-top: 10px;
}

.linksContainer a {
  text-decoration: none;
}

.linksContainer a:hover {
  text-decoration: underline;
}

/* Title */
.titleContainer {
  display: flex;
  padding: 40px 20px 20px 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.titleButtonsContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

#getId-container,
#pageContainer {
  padding: 20px;
}

#editProduct_form,
#newProduct_form {
  width: 690px;
  margin: auto;
}

#editProduct_form input,
#newProduct_form input {
  width: 100%;
}

#pageContainer h2 {
  padding-block: 16px;
  width: 690px;
  margin: auto !important;
}

div#pageContainer h2 {
  margin: 0 !important;
}

#getId-list {
  padding-top: 40px;
  width: 690px;
  margin: auto;
  min-height: 49dvh;
}

/* Card producto */
.productosContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.cardProductos {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  list-style-type: none;
  background-color: #2b2b2b;
}

.cardProductosImgContainer {
  height: 200px;
  width: 15vw;
  overflow: hidden;
}

.cardGetProductosImgContainer {
  height: 200px;
  width: 300px;
  overflow: hidden;
}

.cardProductosImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px 0 0 8px;
}

.cardProductosInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 16px;
  height: 100%;
}

.cardProductosButtons {
  padding-right: 16px;
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 8px;
}

.active {
  color: greenyellow;
}

.inactive {
  color: red;
}

/* Form */
#getProduct-form {
  display: flex;
  align-items: center;
  gap: 16px;
}

#getId-list .infoText {
  text-align: center;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.modal-content {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

/* Ventas */
.ventas {
  min-height: 65vh;
}
.ventasTitleContainer,
.ventaCardContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.ventasTitleContainer {
  border-bottom: 1px solid #fff;
  padding-block: 16px;
}

.ventaCardContainer {
  border-bottom: 1px solid #585858;
  padding-block: 8px;
}

.ventasTitleContainer .ventasTitleItem,
.ventaCardContainer .ventaCardInfo {
  width: 20%;
  padding-inline: 16px;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 18px 0px;
  gap: 32px;
}

.ventaItemContainer {
  border-bottom: 1px solid #fff;
  padding-block: 20px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.ventaCardActions {
  display: flex;
  gap: 16px;
  align-items: center;
  padding-inline: 16px;
  width: 20%;
}

.BackBoton{
  width: fit-content;
}

.totalVenta{
  width: 100%;
  text-align: end;
  padding-top: 20px;
  color: #FFB300;
}

.ventaCardTitleMobile {
  display: none;
}

div.backgroundDetalleVentas{
  background-color: #2b2b2b;
  margin-top: 28px;
  padding-top: 20px;
  border-radius: 16px;
  margin-inline: auto;
  width: calc(100% - 40px);
}

.detailContainer{
  padding-inline: 20px;
  padding-top: 40px;
  min-height: 49dvh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1440px) {
  .productosContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  .productosContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardProductos {
    width: 100%;
  }

  .cardProductosImgContainer {
    height: 200px;
    width: 200px;
  }
  .cardGetProductosImgContainer {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  .detalleBoton{
    width: 100%;
  }

  .ventaCardTitleMobile{
    display: flex;
  }

  .ventasTitleContainer {
    display: none;
  }

  .ventaCardContainer {
    flex-direction: column;
    width: 100%;
    gap: 5px;
    padding-block: 20px;
  }

  .ventaCardInfo{
    display: flex;
    gap: 10px;
  }

  .ventaCardContainer .ventaCardInfo, .ventaCardActions {
    width: 100%;
  }

  .ventaItemContainer {
    flex-direction: column;
  }

  #listadoNav {
    flex-direction: column;
    gap: 16px;
  }

  #getId-list {
    width: 100%;
    padding-top: 0;
  }

  #editProduct_form,
  #pageContainer h2,
  #newProduct_form {
    width: 100%;
  }

  #getProduct-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    width: 100%;
  }

  .cardProductos {
    flex-direction: column;
  }

  .cardProductosImgContainer {
    height: 160px;
    width: 100%;
  }

  .cardGetProductosImgContainer {
    height: 160px;
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  .cardProductosImg {
    height: 100%;
    border-radius: 8px 8px 0 0;
  }

  .cardProductosInfo {
    width: 100%;
    padding: 16px;
  }

  .cardProductosButtons {
    padding-right: 0px;
  }

  .titleContainer {
    gap: 16px;
    flex-direction: column;
    align-items: start;
  }

  div.backgroundDetalleVentas{
    flex-direction: row;
    align-items: center;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 28px !important;
  }
  .linksContainer {
    gap: 36px;
  }
}
