
<footer>
  <h5>Alumnos</h5>
  <div class="footer">
    <h6>Cortes, Joaquin</h6>
    <h6>Cortes, Santiago</h6>
  </div>
</footer>
<div id="confirmModal" class="modal" style="display: none;">
  <div class="modal-content">
    <p>¿Estás seguro de que quieres eliminar el producto con [<strong>ID <span id="product-id-eliminar"></span></strong>]?</p>
    <form id="deleteForm">
      <button type="button" class="cancelBtn">Cancelar</button>
      <button type="button" id="confirmDeleteBtn">Sí, eliminar</button>
    </form>
  </div>
</div>
<div id="activateModal" class="modal" style="display: none;">
  <div class="modal-content">
    <p>¿Estás seguro de que quieres activar el producto con [<strong>ID <span id="product-id-activar"></span></strong>]?</p>
    <form id="deleteForm">
      <button type="button" class="cancelBtn">Cancelar</button>
      <button type="button" id="confirmActivateBtn">Sí, activar</button>
    </form>
  </div>
</div>
</body>
</html>