<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css" />
  <link rel="icon" type="image/jpg" href="/img/favicon.ico"/>
  <title><%- title %></title>
</head>
<body>
<header>
  <ul id="listado-nav">
    <img src="/img/favicon.ico" alt="" class="favicon">
    <a href="index.html">
      <li class="links-header"><span>GET</span></li>
    </a>

    <a href="/dashboard/consultar">
      <li class="links-header"><span>Get : id</span></li>
    </a>
    <a href="post.html">
      <li class="links-header"><span>POST</span></li>
    </a>

    <a href="put.html">
      <li class="links-header"><span>PUT</span></li>
    </a>
    <a href="delete.html">
      <li class="links-header"><span>DELETE</span></li>
    </a>
  </ul>

  <hr />
  <h1>Listado de productos</h1>
  </header>